doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Proyek Pertama - GCP
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/files/style.css")
  body 
    div(class="container")
      div(class="row row-cols-1")
        // bg-profile
        div(class="col container-fluid profile")
        div(class="main-profile")
          img(src="/images/kereng.jpeg", alt="") 
        div(class="col")
          div(class="row row-cols-2 main-info")
            div(class="col col-8 information")
              h4 Fatkhur Rozak 
              p. 
                Undergraduate || Learn more, Build incredibly powerful web-applications
              p. 
                Membahas tentang #php, #laravel, #javascript, #pemrograman, #programming
              p Sidoarjo, Jawa Timur, Indonesia - 
                a(href="") Informasi kontak
              p 
                a(href="" class="icon-link icon-link-hover") Google Cloud Skill Boost Badge
                  svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cloud") 
                    path(d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z")
              p 9 followers - 8 connections 
              button(class="btn btn-primary") Join to view profile 
            div(class="col col-4 study")  
              div(class="row row-cols-2 gy-4")
                div(class="col col-2 bangkit-icon") 
                  img(src="/files/bangkit-icon.png", alt="" class="img-fluid")
                div(class="col col-10 bangkit-text")
                  h6 Bangkit Academy led by Google, Tokopedia, Gojek, & Traveloka
                div(class="col col-2 polije-icon") 
                  img(src="/files/polije-icon.png", alt="" class="img-fluid")
                div(class="col col-10 polije-text") 
                  h6 Politeknik Negeri Jember
        div 

    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous") 